<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="../../assets/digital_nomad.svg" class="banner">
    <h2 style="color: #3f3d56; font-weight: bold;">
      Anuj Rajak
    </h2>
    <span>
      mr.anujrajak@gmail.com
    </span>
  </div>
  <ion-item-divider></ion-item-divider>
  <div style="margin-top: 20px;">
    <a href="https://github.com/anujrajak">
      <ion-icon name="logo-github" class="iconSize"></ion-icon>
    </a>
    <a href="https://www.instagram.com/anuj__rajak/">
      <ion-icon name="logo-instagram" class="iconSize"></ion-icon>
    </a>
    <a href="https://github.com/anujrajak/COVID-19.git">
      <ion-icon name="git-branch" class="iconSize"></ion-icon>
    </a>
  </div>
</ion-content>
